Repository LethalStation/NovaSector, pull requests merged in 2024-05, with the labels that each got.

#43 makes filtre helmets hide hair and stuff / adds another custom filtre armor set
  modular_np_lethal/armor_but_cool/code/armor_types/filtre_armor.dm
  modular_np_lethal/armor_but_cool/icons/armor.dmi
  modular_np_lethal/armor_but_cool/icons/armor_worn.dmi
  modular_np_lethal/loadout_items/actual_loadout_changes/loadout_datum_heads.dm
  modular_np_lethal/loadout_items/actual_loadout_changes/loadout_datum_suit.dm
Labels: Sprites

#45 Some Silly Stuff :]
  _maps/shuttles/lethal/diy_diy_medium.dmm
  _maps/shuttles/lethal/diy_diy_small.dmm
  _maps/shuttles/lethal/ferry_hafila.dmm
  _maps/shuttles/lethal/ferry_khasun.dmm
  _maps/shuttles/lethal/ferry_manzil.dmm
  _maps/shuttles/lethal/mining_cigale.dmm
  code/__DEFINES/~nova_defines/random_lethalstation_defines.dm
  modular_np_lethal/ships_r_us/code/buyable_shuttle_template.dm
  modular_np_lethal/ships_r_us/code/orderconsole.dm
  modular_np_lethal/ships_r_us/code/shuttle_parts.dm
  modular_np_lethal/ships_r_us/code/station_buyable_ships/ferries.dm
  modular_np_lethal/ships_r_us/code/station_buyable_ships/incomplete.dm
  modular_np_lethal/ships_r_us/code/station_buyable_ships/mining.dm
  modular_np_lethal/ships_r_us/icons/ship_items.dmi
  modular_np_lethal/special_colony_machines_and_stuff/code/colony_lathe_overrides.dm
  modular_np_lethal/special_colony_machines_and_stuff/code/flatpack_machines_designs.dm
  modular_np_lethal/special_colony_machines_and_stuff/code/stasis_pod.dm
  modular_np_lethal/special_colony_machines_and_stuff/code/tools.dm
  modular_np_lethal/special_colony_machines_and_stuff/code/tools_designs.dm
  modular_np_lethal/special_colony_machines_and_stuff/icons/afk_pod.dmi
  tgstation.dme
Labels: Sprites, Map Modification

#51 fixes and balances a bunch of stuff
  _maps/map_files/lethal/comvat.dmm
  modular_np_lethal/deepmaint_stuff/code/trade_station.dm
  modular_np_lethal/deepmaint_stuff/code/trade_station_types/armor.dm
  modular_np_lethal/deepmaint_stuff/code/trade_station_types/medical.dm
  modular_np_lethal/deepmaint_stuff/code/trade_station_types/weapons.dm
  modular_np_lethal/epic_loot/code/loot_items/components.dm
  modular_np_lethal/epic_loot/code/loot_items/electronics.dm
  modular_np_lethal/epic_loot/code/loot_structures/large_crate.dm
  modular_np_lethal/epic_loot/code/loot_structures/military_case.dm
  modular_np_lethal/epic_loot/code/random_spawners.dm
  modular_np_lethal/lethalguns/code/suppressed.dm
Labels: Map Modification
